//Import other components
@import "../../App.scss";

/* 
    Defining Style Properties for Home Component
*/
// Home Container Style Properties
$homeContainerMarginTop: 50px;
$homeContainerDisplayType: flex;
$homeContainerFlexDirection: column;
$homeContainerAlignItems: center;
$homeContainerGap: 30px;

// Home Property Title Style Properties
$homePropertyTitleWidth: 1024px;
$homePropertyTitleFontSize: 20px;

.homeContainer {
  margin-top: $homeContainerMarginTop;
  display: $homeContainerDisplayType;
  flex-direction: $homeContainerFlexDirection;
  align-items: $homeContainerAlignItems;
  gap: $homeContainerGap;
}

.homePropertyTitle {
  width: $homePropertyTitleWidth;
  font-size: $homePropertyTitleFontSize;
}
