//Import other components
@import "../../App.scss";

//Style Properties for Home Component
// $primaryColor: #000000;

body div {
    margin: 0px;
    color: $primaryColor;
}

.mainBody {
    color: $secondaryColor;
}