//Defining color palets and other css properties
$primaryFillColor: #2b6777;
$secondaryFillColor: #c8d8e4;
$primaryTextColor: #f2f2f2;
$secondaryTextColor: #fff;
$primaryButtonFillColor: $secondaryFillColor;
$secondaryButtonFillColor: #52ab98;
$primaryIconColor: #bda9a9;


